# Ignore version control
.git
.gitignore

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
venv/

# Editor/IDE files
*.swp
*.swo
*.bak
*.tmp
*.orig
*.log
*.sublime-project
*.sublime-workspace
.vscode/
.idea/

# OS-generated
.DS_Store
Thumbs.db

# Archives or temporary test files
*.tar
*.tar.gz
*.zip
*.img
*.iso
!src/dar/dar-*.tar.gz
!src/dar/dar-*.tar.gz.sig

# Keep Denis Corbin’s signing key
!doc/denis-corbin.gpg

# Docker stuff
Dockerfile-*~
docker-compose.yml~

# Build/test output
test-output/
build/
dist/
scripts/test/*
test/
.eggs/
*.egg-info/
.eggs/
*.egg
.env

# CI artifacts (if any)
coverage.xml
*.coverage
.cache/

# allow the dar 2.7.18 tarball
